.news-feed {
  
  .card-header {
    padding-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }
  
  .card-pad-header {
    height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .card-pad-text {
    height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }   
}