.news-feed {
  .card {
    border: none;
    border: 1px solid #d0d0d0;

    .card-img-top {
      padding: none;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  
    .card-header {
      padding: 16px;

      .card-pad-header {
        height: 5rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .card-body {
      p {
        margin-bottom: 24px;
      }
    }

    .card-pad-text {
      height: 6rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }   
}