#D8News {
  /* background-color: #000; */
}

.card{
  margin-bottom: 25px;
}

.cardBody{
  margin-top: -2px;
}

.cardInterest{
    position: relative;
    top: -36px;
    padding: 8px;
    color: white;
    font-weight: 300;
}

.zoom{
  cursor: pointer;
}

.zoom a{
  text-decoration: none !important;
  border-bottom: none !important;
  color: #353535;
  text-align: center;
}

.zoom:hover {
    transform: scale(1.015);
}

.loader{
  text-align: center;
  margin-top: 35px;
}

.fade-enter-done{
  opacity: 1;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-enter {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

/* SAF tag style settings */
.discoveries{
  border-top: solid #568E14 5px;
  margin-top: -2px;
}

.discoveriesInt{
  background-color: #568E14;
}

.discoveriesInt:hover{
  background-color: #4f8411;
}

.solutions{
  border-top: solid #ffc425 5px;
  margin-top: -2px;
}

.solutionsInt{
  background-color: #ffc425;
}

.solutionsInt:hover{
  background-color: #e6b121;
}

.arizona-impact{
  border-top: solid #828282 5px;
  margin-top: -2px;
}

.arizona-impactInt{
  background-color: #828282;
}

.arizona-impactInt:hover{
  background-color: #616161;
}

.asu-news{
  border-top: solid #353535 5px;
  margin-top: -2px;
}

.asu-newsInt{
  background-color: #353535;
}

.asu-newsInt:hover{
  background-color: #19191b;
}

.creativity{
  border-top: solid #F47C00 5px;
  margin-top: -2px;
}

.creativityInt{
  background-color: #F47C00;
}

.creativityInt:hover{
  background-color: #d66e03;
}

.entrepreneurship{
  border-top: solid #a30046 5px;
  margin-top: -2px;
}

.entrepreneurshipInt{
  background-color: #a30046;
}

.entrepreneurshipInt:hover{
  background-color: #800238;
}

.global-engagement{
  border-top: solid #038dd5 5px;
  margin-top: -2px;
}

.global-engagementInt{
  background-color: #038dd5;
}

.global-engagementInt:hover{
  background-color: #026da5;
}

.sun-devil-life{
  border-top: solid #afa593 5px;
  margin-top: -2px;
}

.sun-devil-lifeInt{
  background-color: #afa593;
}

.sun-devil-lifeInt:hover{
  background-color: #928a7b;
}
