#D8News {
  /* background-color: #000; */
}

.card{
  margin-bottom: 25px;
}

.cardBody{
  border-top: solid green 8px;
}

.cardInterest{
    position: relative;
    top: -54px;
    margin: 16px;
    padding: 2px;
    border-radius: 14px;
    text-align: center;
    display: inherit;
    color: white;
    background-color: green;
    font-weight: 300;
}

.card-title{
  margin-top: -47px;
}

.zoom{
  cursor: pointer;
}

.zoom a{
  text-decoration: none;
  color: #353535;
}

.zoom:hover {
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
