.news-feed {
  --carousel-sides: 104px;
  //104px is the 80px preview of the previous card and the 24px gap between cards
  //to align with the first fully-visible card.

  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0;

  .fa-chevron-right {
  }

  .feed-header-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 0 3rem calc(((100% - 1200px) / 2) + var(--carousel-sides));

    .feed-header-title {
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      color: #191919;
      &.color-white {
        color: #ffffff;
      }
    }

    .news-header-link {
      max-width: 280px;
    }
  }

  .carousel-wrapper {
    width: 1200px;
    margin: auto;
  }

  @media only screen and (max-width: 1200px) {
    .carousel-wrapper {
      width: 100%;

      .feed-header-section {
        margin-left: var(--carousel-sides);

        .feed-header-title {
          text-align: left;
          margin-right: 32px;
        }

        .feed-header-control {
          padding-right: 32px;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .carousel-wrapper {
      .feed-header-section {
        flex-direction: column;

        h3 {
          padding-right: 0;
        }

        .feed-header-title {
          font-size: 24px;
          margin-bottom: 1.5rem;
          padding-right: 0;
        }

        .feed-header-control {
          max-width: 280px;
        }
      }
    }
  }

  @media only screen and (max-width: 576px) {
    .carousel-wrapper {
      padding-left: 32px;

      .feed-header-section {
        margin-left: 0;
        flex-direction: column;

        h3 {
          padding-right: 0;
        }

        .feed-header-title {
          font-size: 24px;
          margin-bottom: 1.5rem;
          padding-right: 0;
        }

        .feed-header-control {
          max-width: 280px;
        }
      }
    }
  }
}
